*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Verdana, arial, Tahoma, sans-serif;
}
body{
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
h1 {
    font-size: clamp(2rem, 5vw, 2.9rem);
    margin-bottom: 18px;
}
h2 {
    text-align: center;
    margin: 20px 0;
    font-size: clamp(1.9rem, 5vw, 2.4rem);
}
h3 {
    font-size: clamp(1.2rem, 3vw, 1.5rem);
    text-align: center;
    margin-bottom: 10px;
}
p {
    font-size: clamp(0.85rem, 3vw, 1.07rem);
    text-align: center;
}
header {
    background-color: #30261c;
    color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 80px 0;
}
header div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 12px;
}
div.texto {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
div.imagem {
    display: flex;
    justify-content: start;
}
button {
    border: 2px solid #fff;
    margin: 8px 0;
    background-color: #30261c;
    color: #fff;
    padding: 10px 18px;
    border-radius: 20px;
    font-size: clamp(0.84rem, 10vw, 1.1rem);
    font-weight: bold;
    transition: background-color, color, border 0.3s
}
button:hover {
    border: 2px solid #30261c;
    background-color: #fff;
    color: #30261c;
}
img.main-image {
    width: 500px;
}
section {
    padding: 40px 12px;
}
article.curiosidades {
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    gap: 2.5rem;
}
div.curiosidades {
    width: 100%;
    max-width: 400px;
}
section.escura {
    background-color: #30261c;
    color: #fff;
}
div.clientes{
    display: flex;
    gap: 12px;
    justify-content: center;
    width: 100%;
}
img.cliente {
    width: 100%;
    max-width: 420px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 30px;
}
div.planos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    margin-top: 40px;
}
div.card {
    width: 100%;
    max-width: 340px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
footer {
    padding: 18px 0;
    background-color: #30261c;
    color: #fff;
    text-align: center;
}
i.fa-solid {
    display: none;
}
@media screen and (max-width: 1080px){
    div.planos, div.clientes, article.curiosidades{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    i.fa-solid{
        display: inline;
        width: 100px;
    }
    header{
        display: flex;
        justify-content: center;
        height: 80vh;
    }
    header div.imagem{
        display: none;
    }
}