*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Verdana, arial, Tahoma, sans-serif;
}


header{
    background-color: rgb(37, 37, 37);
}








section#cabecalho{
    background-color: #D2E8E3;
    height: 700px;
    max-width: 100%;

}

section#cabecalho button{
    padding: 10px 30px;
    font-size: 1.2rem;
}

section#cabecalho section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section#cabecalho h1{
    font-weight: bold;
    margin: 30px 0;
    text-align: center;
    font-size: 3.7rem;
}

section#cabecalho figure{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
}

section#cabecalho figure img{
    width: 590px;
}

@media screen and (max-width: 1199px){
    section#cabecalho figure{
        display: none;
}
}




section#curiosidades{
    background-color: rgb(37, 37, 37);
    color: #fff;
    padding: 50px;
    text-align: left;
}

section#curiosidades h2{
    text-align: center;
    margin: 20px 0 40px 0;
    font-size: 2.3rem;
}

section#curiosidades h3{
    margin-bottom: 20px;
}

section#curiosidades div{
    padding: 40px;
}






section#relatos{
    padding: 0 0 40px 0;
    background-color: #D2E8E3;
}

section#relatos h2{
    text-align: center;
    font-size: 2.7rem;
    font-weight: bold;
    margin: 40px 0 0 0;
}

section#relatos div{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

section#relatos img{
    width: 80%;
    border-radius: 3%;
    aspect-ratio: 1/1;
    object-fit: cover;
}







section#precos {
    background-color: rgb(37, 37, 37);
    color: #fff;
    padding: 20px 5px 60px 5px;

}

section#precos div{
    padding: 20px 100px;
}

section#precos h2{
    text-align: center;
    margin: 40px 0 30px 0;
    font-size: 2.3rem;
}

section#precos h3, section#precos p{
    text-align: center;
    margin: 0 0 20px 0;
}

section#precos div.div-botao{
    display: flex;
    justify-content: center;
}

.conteudo-preco{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

section#precos div.div-botao button{

    font-size: 1.1rem;
    padding: 4px 20px;
}

@media screen and (max-width: 1200px){
    section#precos div.conteudo-preco, section#curiosidades{
        padding: 25px;
    }
}







section#chamada-acao{
    background-color: #D2E8E3;
    padding: 100px 5px;
}


section#chamada-acao div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section#chamada-acao div h2{
    font-size: 2.3rem;
    text-align: center;
    margin-bottom: 30px;
}

section#chamada-acao button{
    font-size: 1.2rem;
    padding: 10px 30px;
}








footer{
    background-color: rgb(37, 37, 37);
    color: #fff;
    padding: 10px;
}

footer div{
    display: flex;
    place-content: center center;
}

footer div p{
    margin: 0;
    text-align: center;
}